In [1]:
# Programs for Iterative Statements
#Using For Loop

In [4]:
#Program to display numbers from 0 to 10
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
#Program to display odd numbers from 0 to 10
for x in range(1,11,+2):
    print(x)

1
3
5
7
9

In [6]:
#Program to display even numbers from 0 to 10
for x in range(0,11,+2):
    print(x)

0
2
4
6
8
10

In [10]:
#Program to display odd numbers from 0 to 10
for a in range(10):
    if (a%2!=0):
        print(a)

1
3
5
7
9

In [2]:
#Program to display numbers from 10 to 1 in descending order
for b in range(10,0,-1):
    print(b)

10
9
8
7
6
5
4
3
2
1

In [6]:
#Program to display numbers from 1 to 10 in asscending order
for c in range(0,11,+1):
    print(c)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
# Program for Looping Through a String
for n in "apple":
    print(n)

a
p
p
l
e

In [10]:
#program to loop through list
s = ["apple", "banana", "cherry"]
for x in s:
  print(x)

apple
banana
cherry