In [1]:
#LANGUAGE  FUNDAMENTALS STUDY MATERIAL 
#The name Python was selected from the TV Show  "The Complete Monty Python's Circus", - broadcasted in BBC from 1969 to 1974

In [2]:
#Only Characters Allowed and Python language is case sensitive language
    
# 1 alphabet symbols(either lower case or upper case) 
# 2 digits(0 to 9)
# 3 underscore symbol(_)
# To check the data types use "type" function

In [3]:
#Learn identifir rule & there are 33 reserved words available in Python

In [4]:
#Python has Data Type.Data Type represents the type of data present inside a variable

In [7]:
# To check the data types use type function
id_a=11.3
type(id_a)

float

In [6]:
# To check the data types use type function
id_b=11
type(id_b)

int

In [14]:
# To check the "ID" use ID Function ie id() to get address of object
id(id_a)

140704425439264

In [17]:
#Float Data Type --->The main advantage of exponential form is we can represent big values in less memory
f = 1.234
type(f)

float

In [23]:
#Complex operations
a1=10+1.5j
b1=20+2.5j
c1=a1+b1
print(c1)
type(c1)

(30+4j)

complex

In [8]:
#bool Data Type
a2 = 100
b2 = 20
c2 = a2<b2
d2 = a2>b2 
print(c2)
print(d2)

False
True

In [28]:
# A "string" is a sequence of characters enclosed within single quotes or double quotes
# We can also use triple quotes to use single quote or double quote in our String
#''' This is " character'''

In [11]:
# Slicing of Strings
# [ ] operator is called "slice operator", which can be used to retrieve parts of String
# In Python Strings follows zero based index. ie(n-1) form left to right  
# The index can be either +ve or -ve. and -ve index means backward direction from Right to Left
string1="Python"
len(string1)

6

In [12]:
string1[2:6]

'thon'

In [13]:
string1[1:]

'ython'

In [18]:
string1[::-1]

'nohtyP'

In [17]:
string1[::]

'Python'

In [16]:
string1[:4]

'Pyth'

In [15]:
 string1*3

'PythonPythonPython'

In [57]:
# We can convert one type value to another type. This conversion is called Typecasting or Type coersion

In [2]:
# List Data Type: Heterogeneous Objects are allowed,Duplicates are allowed,Values should be enclosed within square brackets
new_list=[10,10.5,'name',True,10]
print(new_list)

[10, 10.5, 'name', True, 10]

In [46]:
# Create a new list called list1 and print first element of the this new list
list1=[10,20,30,40]
list1[0]

10

In [9]:
# Print range of elements in this new list called list1
list1[2:4]

[30, 40]

In [10]:
list1[-1]

40

In [13]:
for i in list1:
    print(i,end = ' ')

10 20 30 40

In [14]:
for i in list1:
    print(i)

10
20
30
40

In [31]:
# How to append a element in list
list1.append("newname")
for i in list1:
    print(i,end = ' ')

30 newname 40 10 10 newname

In [22]:
# How to remove a element in list
list1.remove(40)
print(list1)

[30, 'newname']

In [23]:
# How to append a element in list
list1.append(40)
print(list1)

[30, 'newname', 40]

In [32]:
# How to append a element in list
list1.append(10)
print(list1)

[30, 'newname', 40, 10, 10, 'newname', 10]

In [37]:
# Tuple Data Type: immutable-cannot change values,elements within parenthesis, tuple is the read only version of list 
t1=(10,20,30,40)
type(t1)

tuple

In [47]:
# Extract tuple element
t1[0]

10

In [40]:
# Range Data Type:immutable -  Data type are not modifiable
# Using range - > Generate number from 10 to 19 
r1 = range(10,20)
for i in r1: 
    print(i, end = " ")

10 11 12 13 14 15 16 17 18 19

In [43]:
# Using range - > Generate first 5 numbers 
r1 = range(5)
for i1 in r1: 
    print(i1, end=" ")

0 1 2 3 4

In [45]:
# Using range - > Generate number from 10 to 19 with increment of 2 
r2 = range(1,20,2)
for i2 in r2: 
    print(i2, end=" ")

1 3 5 7 9 11 13 15 17 19

In [48]:
# Accessing elements present in the range Data Type by using index
r3 = range(10,20) 
r3[0]

10

In [51]:
#  Create a list of values with range data type
new_list1 = list(range(10))
print(new_list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [1]:
# Learning dict Data Type -> presents group of values as key-value pairs 
dict_1 = {101:'praveen',102:'ravi',103:'shiva'}
print(dict_1[101])

praveen

In [56]:
# None Data Type -->means nothing or No value associated. 
# It is convention to use only uppercase characters if we don’t want to change value