In [1]:
#Prgrams on TUPLE DATA STRUCTURE

In [2]:
#Tuple is exactly same as List except that it is immutable

In [6]:
t1=10,20,30,40
print(t1)
print(type(t1))

(10, 20, 30, 40)
<class 'tuple'>

In [7]:
#Single value tuple should end with comma
t2=(10,) 
print(t2)

(10,)

In [8]:
t3=(10) 
print(type(t2))

<class 'tuple'>

In [13]:
#Using index in tuples
t5 = (10, 20, 30, 40, 50, 60)
print(t5[2])
print(t5[-2])

30
50

In [16]:
#Using Slice Operator in tuples
t6=(10,20,30,40,50,60)
print(t6[2:5])
print(t6[::2])

(30, 40, 50)
(10, 30, 50)

In [18]:
#Functions in tuple
#Program to return number of elements present in the tuple
t = (10,20,30,40,50)
print(len(t))

5

In [22]:
#Program to count the number of occurrences of given element in the tuple
t= (10,20,30,20,40,50)
print(t.count(10))
print(t.count(20))

1
2

In [24]:
#Program to sort elements based on default natural sorting order
t=(40,10,30,20)
t9=sorted(t)
print(t9)

[10, 20, 30, 40]